<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="wrapper fadeInDown">
  <div id="formContent">
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

    <%= form_for(@user , url: users_path(@user) , method: :post,class: "new-transaction-form") do |f| %>
      <div class="form-group">
          <%= f.text_field :name ,class: "fadeIn second" , placeholder: "Enter your name"%>
      </div>

      <%= f.submit "Register " ,class: "fadeIn fourth"%>  
      <%= link_to  "Login ", login_path %>  

    <% end %>
  </div>
</div>