<nav class="left-nav">
    <div class="profile">
        <img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50.jpg" class="profile-img"/>

        Welcome <%= @current_user.name %>
    </div>
    <%= link_to  "All my transactions", transaction_index_path ,class: "side-bar-link"%>
    <%= link_to  "All my external transactions", transaction_external_path ,class: "side-bar-link"%>
    <%= link_to  "All groups", group_index_path ,class: "side-bar-link"%>
    <%= link_to  "Logout", logout_path ,class: "side-bar-link"%>

</nav>